<div class="container mt-5 pt-5">
    <header class="ajuda-header">
        <h1>Ajuda do Usuário</h1>
        <p>Explore todas as funcionalidades do site para uma melhor experiência.</p>
    </header>

    <section class="ajuda-section">
        <h2>Cadastrar e Gerenciar Livros</h2>
        <p>Na estante virtual, você pode cadastrar seus livros, para assim ter um controle de suas leituras. Para
            cada livro, você pode:
        </p>
        <ul>
            <li><strong>Editar</strong> informações como título, autor, e data de leitura.</li>
            <li><strong>Excluir</strong> um livro que não deseja mais na estante.</li>
            <li>Definir se o livro está na sua lista de <strong>desejo</strong>,<strong>físico</strong> na sua
                estante ou em formato<strong>e-book</strong>
            </li>
        </ul>
    </section>

    <section class="ajuda-section">
        <h2>Atualizações de Leitura</h2>
        <p>Ao longo da leitura, você pode registrar seu progresso e fazer anotações. Assim, o site mantém um
            histórico
            de suas atualizações.</p>
        <ul>
            <li>Registre o <strong>progresso</strong> em porcentagem.</li>
            <li>Adicione comentários sobre o que leu até aquele ponto.</li>
        </ul>
    </section>

    <section class="ajuda-section">
        <h2>Resenha ao Final da Leitura</h2>
        <p>Quando terminar um livro, você pode escrever uma <strong>resenha</strong>, onde irá compartilhar suas
            opiniões e marcar a data de conclusão da leitura.</p>
    </section>

    <section class="ajuda-section">
        <h2>Filtros e Busca</h2>
        <p>Use os filtros e a barra de busca para encontrar rapidamente livros por título ou gênero (romance,
            fantasia
            etc.).</p>
    </section>

    <section class="ajuda-section">
        <h2>Estatísticas</h2>
        <p>Veja suas estatísticas de leitura com base nos livros cadastrados e atualizações registradas:</p>
        <ul>
            <li>Status dos livros (lidos, não lidos...)</li>
            <li>Gêneros na estante</li>
            <li>Formatos disponíveis na estante</li>
        </ul>
    </section>
</div>