<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastrar Novo Livro</h5>
                    <form action="/livro/cadLivro" method="POST">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" required>
                        </div>
                        <div class="mb-3">
                            <label for="genero" class="form-label">Gênero</label>
                            <select class="form-select" id="genero" name="genero" required>
                                <option value="" disabled selected>Escolha um gênero</option>
                                <option value="Ficcao">Ficção</option>
                                <option value="Fantasia">Fantasia</option>
                                <option value="Romance">Romance</option>
                                <option value="Suspense">Suspense</option>
                                <option value="Distopia">Distopia</option>
                                <option value="Terror">Terror</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="texto" class="form-label">Texto</label>
                            <textarea class="form-control" id="texto" name="texto" rows="3" required></textarea>
                        </div>
                        {{!-- <div class="mb-3">
                            <label for="progresso" class="form-label">Progresso (%)</label>
                            <input type="number" class="form-control" id="progresso" name="progresso" min="0" max="100"
                                required>
                        </div> --}}
                        <div class="mb-3">
                            <label for="autor" class="form-label">Autor</label>
                            <input type="text" class="form-control" id="autor" name="autor" required>
                        </div>
                        <div class="mb-3">
                            <label for="editora" class="form-label">Editora</label>
                            <input type="text" class="form-control" id="editora" name="editora" required>
                        </div>
                        
        
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="tag-check" type="radio" name="formato" id="Físico" value="Físico" required/>
                                <label class="tag-label" for="Físico"><i
                                        class="bi bi-bookmark-check-fill">Físico</i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="tag-check" type="radio" name="formato" id="Ebook" value="Ebook" required/>
                                <label class="tag-label" for="Ebook"><i class="bi bi-bookmark-dash-fill">E-book</i></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="tag-check" type="radio" name="formato" id="Desejo" value="Desejo" required/>
                                <label class="tag-label" for="Desejo"><i class="bi bi-bookmark-heart-fill">Lista de Desejos</i></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Salvar Livro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>