<div class="container mt-5 pt-5"></div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastrar perfil</h5>
                <form action="/cadUsuario" method="POST">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" required>
                    </div>
                    <div class="mb-3">
                        <div class="mb-3">
                            <label class="form-label">Escolha seu Avatar</label>
                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar1"
                                        value="/images/1.png" required>
                                    <label class="avatar-label" for="avatar1">
                                        <img src="/images/1.png" alt="Avatar 1" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar2"
                                        value="/images/2.png" required>
                                    <label class="avatar-label" for="avatar2">
                                        <img src="/images/2.png" alt="Avatar 2" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar3"
                                        value="/images/3.png" required>
                                    <label class="avatar-label" for="avatar3">
                                        <img src="/images/3.png" alt="Avatar 3" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar1"
                                        value="/images/4.png" required>
                                    <label class="avatar-label" for="avatar4">
                                        <img src="/images/4.png" alt="Avatar 4" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar5"
                                        value="/images/5.png" required>
                                    <label class="avatar-label" for="avatar5">
                                        <img src="/images/5.png" alt="Avatar 5" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar6"
                                        value="/images/6.png" required>
                                    <label class="avatar-label" for="avatar6">
                                        <img src="/images/6.png" alt="Avatar 6" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar7"
                                        value="/images/7.png" required>
                                    <label class="avatar-label" for="avatar7">
                                        <img src="/images/7.png" alt="Avatar 7" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar8"
                                        value="/images/8.png" required>
                                    <label class="avatar-label" for="avatar8">
                                        <img src="/images/8.png" alt="Avatar 8" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar9"
                                        value="/images/9.png" required>
                                    <label class="avatar-label" for="avatar9">
                                        <img src="/images/9.png" alt="Avatar 9" class="img-thumbnail">
                                    </label>
                                </div>
                                <div class="avatar-option">
                                    <input type="radio" class="btn-check" name="avatar" id="avatar10"
                                        value="/images/10.png" required>
                                    <label class="avatar-label" for="avatar10">
                                        <img src="/images/10.png" alt="Avatar 10" class="img-thumbnail">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>