<!DOCTYPE html>
<html>

<head>
  <title>{{titulo_pagina}}</title>
  <!-- Inclua o CSS do CoreUI -->
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@4.0.0-beta.0/dist/css/coreui.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/logo-ico.ico" type="image/x-icon">
  <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      <img src="/images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-left">
      <span id="logo">BibliWeb</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mb-2 mb-lg-0" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="" class="btn-link nav-link" data-bs-toggle="offcanvas" data-bs-target="#demo">
              <i class="bi bi-person-circle"> Perfil</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"> <i class="bi bi-house-heart"> Página Principal</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/livro/cadLivro"><i class="bi bi-bookmark-heart"> Cadastrar Livro</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ajuda"><i class="bi bi-question-circle"> Ajuda</i></a>
          </li>
        </ul>

        <div class="d-flex ms-auto" >
          <!-- Formulário de filtro -->
          <form method="GET" action="/filtrar" class="d-flex" >
            <select id="filtroIndex" name="genero" class="form-select" style="width: 150px;">
              <option value="Todos" {{#if Todos}}selected{{/if}}>Todos</option>
              <option value="Romance" {{#if Romance}}selected{{/if}}>Romance</option>
              <option value="Ficcao" {{#if Ficcao}}selected{{/if}}>Ficção</option>
              <option value="Fantasia" {{#if Fantasia}}selected{{/if}}>Fantasia</option>
              <option value="Distopia" {{#if Distopia}}selected{{/if}}>Distopia</option>
              <option value="Terror" {{#if Terror}}selected{{/if}}>Terror</option>
              <option value="Suspense" {{#if Suspense}}selected{{/if}}>Suspense</option>
              <option value="Outros" {{#if Outros}}selected{{/if}}>Outros</option>
            </select>
            <button type="submit" class="btn btn-dark ms-2"><i class="bi bi-filter"></i></button>
          </form>

          <!-- Formulário de busca -->
          <form action="/" method="post" class="d-flex ms-3">
            <div class="input-group">
              {{#if condicao_busca}}
              <input type="search" class="form-control" name="busca" placeholder="{{busca}}">
              <button class="btn btn-dark" name="botaoCancelar" type="submit">
                <i class="bi bi-x-circle-fill"></i>
              </button>
              {{else}}
              <input type="search" class="form-control" name="busca" placeholder="Pesquisa" required>
              <button class="btn btn-outline-dark" name="botaoBusca" type="submit">
                <i class="bi bi-search"></i>
              </button>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>




  <div class="container mt-4">
    {{{body}}}
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; Ana Clara Souza, IF Sudeste MG, 2024</p>
      <p>Email: <a href="mailto:anaclarap03@gmail.com">anaclarap03@gmail.com</a></p>
      <a href="#top" class="back-to-top">Voltar ao topo</a>
    </div>
  </footer>

  <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>