@import url('https://fonts.cdnfonts.com/css/martian-mono');
@import url('https://fonts.cdnfonts.com/css/red-hat-mono');

:root {
  --cor-primaria: #2F4F4F;
  /* Verde Folha Escuro */
  --cor-secundaria: #FFFFFF;
  /* Branco */
  --cor-quaternaria: #000000;
  /* Preto */
}

body {
  background-color: var(--cor-secundaria);
  /* font-family: 'Red Hat Mono', sans-serif; */
  color: var(--cor-quaternaria);

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

h1 {
  font-family: 'Martian Mono', sans-serif;
}

a {
  text-decoration: none;
}

h5 {
  font-family: 'Martian Mono', sans-serif;
}

i {
  font-style: normal;
}

.container {
  flex: 1;
}

.form-control:focus {
  box-shadow: none;
  border-color: initial;
}

:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  position: fixed;
  border-bottom: 1px solid var(--cor-primaria);
  background-color: var(--cor-secundaria);
  font-size: large;

}

.navbar-nav .nav-link {
  color: var(--cor-quaternaria);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--cor-primaria);
}

#logo {
  padding-right: 5px;

  font-size: larger;
}

.card {
  border-radius: 8px;
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-primaria);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card-img-custom {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#img-consulta {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#img-atualizar {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.btn-sm {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.btn-dark {
  background-color: var(--cor-quaternaria);
  border-color: var(--cor-quaternaria);
  color: var(--cor-secundaria);
}

.btn-dark:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.btn-outline-dark {
  border-color: var(--cor-quaternaria);
  color: var(--cor-quaternaria);
}

.btn-outline-dark:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.img-thumbnail {
  width: 100px;
  height: 100px;
}

.avatar-option {
  margin: 1px;
}

.avatar-label {
  cursor: pointer;
  display: block;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.avatar-label:hover,
.avatar-label:focus {
  border-color: var(--cor-primaria);
}

.avatar-option input[type="radio"]:checked+.avatar-label {
  border-color: var(--cor-primaria);
}

#comentario {
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

#icone-bi {
  color: var(--cor-quaternaria)
}

.estrela-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  direction: rtl;
  justify-content: flex-end;
}

.estrela-label {
  font-size: 2rem;
  cursor: pointer;
  color: #d3d3d3;
}

.btn-check {
  display: none;
}

.btn-check:checked~.estrela-label {
  color: var(--cor-primaria);
}

.tag-label {
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.tag-check {
  opacity: 0;
  cursor: pointer;
  display: none;
}

.tag-check:checked~.tag-label {
  color: #1d8739;
}


/* .filter {
  display: flex;
  /* justify-content: flex-end; */
/* margin-bottom: 10px; */


.form-control:focus,
.form-select:focus,
.btn-close:focus {
  border-color: var(--cor-primaria);
  box-shadow: 0 0 1px;
  outline: none;
}



.ajuda-header {
  text-align: center;
  margin-bottom: 40px;
}

.ajuda-header h1 {
  color: var(--cor-primaria);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.ajuda-header p {
  font-size: 1.2rem;
  color: #314A59;
}

.ajuda-section {
  margin-bottom: 30px;
}

.ajuda-section h2 {
  color: #4f8b1e;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.ajuda-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.ajuda-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.ajuda-section li {
  font-size: 1rem;
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  border-top: 1px solid var(--cor-primaria);
  background-color: var(--cor-secundaria);
  font-size: medium;
  padding: 10px 0px;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

.footer a {
  color: var(--cor-primaria);
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: #4f8b1e;
}